<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'page.main' | trans }}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous">
        {% endblock %}
        {% block upperjavascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block head %}
                {% set route_page = app.request.attributes.get('_route') %}
                <h1>{{ 'header.title' | trans }}</h1>
                <ul class="nav nav-pills">
                    <li role="presentation" class="{{ (route_page == 'homepage' or route_page == 'edit_pizza') ? 'active' : '' }}"><a href="{{ url('homepage') }}">Catalog</a></li>
                    <li role="presentation" class="{{ (route_page == 'list_ingredients' or route_page == 'edit_ingredient') ? 'active' : '' }}"><a href="{{ url('list_ingredients') }}">Ingredients</a></li>
                </ul>
            {% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}
                <footer class="navbar-fixed-bottom">
                    <p>Exoclick :: Web developer test | Developed by: Marc Ginovart</p>
                </footer>
            {% endblock %}

            {% block javascripts %}
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <!-- Latest compiled and minified JavaScript -->
                <script
                    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            {% endblock %}
        </div>
    </body>
</html>
