{% extends 'base.html.twig' %}

{% block title %}{{ 'page.edit' | trans }}{% endblock %}

{% block content %}
    <h3>{{ 'content.section.ingredients'  |trans }} :: {{ action }}</h3>

    {% for mensaje in app.session.flashbag.get('success') %}
        <p class="bg-success">{{ mensaje }}</p>
    {% endfor %}

    <form method="POST">
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.costPrice) }}
            {{ form_errors(form.costPrice) }}
            {{ form_widget(form.costPrice) }}
        </div>

        <input class="btn btn-default" type="submit" value="{{ 'button.submit' | trans }}">

    </form>
{% endblock %}



