{% extends 'base.html.twig' %}


{% block content %}
    <h3>{{ 'content.catalog' | trans }}</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'label.name' | trans }}</th>
                <th>{{ 'label.price' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pizza in catalog %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.sellingPrice }}</td>
                <td><a class="btn btn-default" role="button" href="{{ url('edit_pizza', {id: pizza.id}) }}">{{ 'content.action.edit' | trans}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" role="button" href="{{ url('edit_pizza', {id: 0}) }}">{{ 'content.action.new' | trans }}</a>
{% endblock %}

