{% extends 'base.html.twig' %}

{% block title %}{{ 'page.list' | trans }}{% endblock %}

{% block content %}
    <h3>{{ 'content.section.ingredients'  |trans }} :: {{ 'content.action.list' | trans }}</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'label.name' | trans }}</th>
            <th>{{ 'label.price' | trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.costPrice }}</td>
                <td><a class="btn btn-default" role="button" href="{{ url('edit_ingredient', {id: ingredient.id}) }}">{{ 'content.action.edit' | trans}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" role="button" href="{{ url('edit_ingredient', {id: 0}) }}">{{ 'content.action.new' | trans }}</a>
{% endblock %}

